{% extends 'base.html' %}
{% load static %}

{% block conteudo %}
<header class="masthead">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="text-center">
                <h1 class="mx-auto py-2 text-uppercase">Publicações</h1>
                <section class="text-center w-100 py-4 ">
                    <p class="texto">
                    Safety life é um site feito para você, que quer melhorar a sua saúde da forma mais simples e direta possível!
                    Esse site tem a proposta de levar até você receitas e exercícios que sejam benéficos e acessíveis. Vem com a gente!  
                    </p>
                </section> 
            </div>
        </div>
    </div>
</header>

    
            
                
               
    
  

    
    
    
    
    <p class=" text-white" >Exercícios</p>
    
    <p class=" text-white" >Artigos</p>
    <p class=" text-white" >Receitas</p>
    
    
    

    
  



{% endblock conteudo %}