{% extends 'base.html' %}
{% load static %}

{% block conteudo %}
<header class="masthead">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="text-center">
                <h1 class="mx-auto py-2 text-uppercase">Sobre nós</h1>
                <section class="text-center w-100 py-4 ">
                    <p class="texto">
                        Somos estudantes do IFRN e estamos concluindo o curso de Informática, e esse é o nosso projeto final. Esperamos que esse site atenda todas as suas necessidades, e que você faça um bom proveito.  
                    </p>
                </section> 
            </div>
        </div>
    </div>
</header>
    
{% endblock conteudo %}